/*
Theme Name: tobiyama
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: tobiyama
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

tobiyama is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
## Custom
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

@charset "UTF-8";
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

.button, .header-menu, .toggle-menu__text {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.va-m {
  vertical-align: middle !important;
}

.fw-b {
  font-weight: bold;
}

.show-md {
  display: none;
}

@media (max-width: 980px) {
  .show-md {
    display: block;
  }
}

br.show-md {
  display: none;
}

@media (max-width: 980px) {
  br.show-md {
    display: inline;
  }
}

.show-sm {
  display: none;
}

@media (max-width: 736px) {
  .show-sm {
    display: block;
  }
}

br.show-sm {
  display: none;
}

@media (max-width: 736px) {
  br.show-sm {
    display: inline;
  }
}

@media (max-width: 736px) {
  .hide-sm {
    display: none !important;
  }
}

html {
  font-size: 62.5% !important;
}

body {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.5;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}

a:active, a:visited, a:focus {
  text-decoration: none;
}

ul, li, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

img {
  outline: none;
}

* {
  box-sizing: inherit;
}

#spFlg {
  display: none;
}

@media (max-width: 736px) {
  #spFlg {
    display: block;
  }
}

@media (min-width: 737px) {
  .show-sp {
    display: none !important;
  }
}

@media (max-width: 736px) {
  .hide-sp {
    display: none !important;
  }
}

.slider {
  width: 100%;
}

.slider__item {
  width: 100%;
}

.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 66px;
}

@media (max-width: 736px) {
  .slick-dots {
    height: 40px;
  }
}

.slick-dots > li {
  display: inline-block;
  width: 8px;
  height: 8px;
}

.slick-dots > li + li {
  margin-left: 8px;
}

.slick-dots > li button {
  overflow: hidden;
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 0;
  background: #808080;
  border-radius: 50%;
  text-indent: -9999px;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.slick-dots > li.slick-active button {
  background: #fff;
}

.button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 364px;
  height: 54px;
  line-height: 50px;
  border: solid 2px #665029;
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
  text-indent: .16em;
  letter-spacing: .16em;
  color: #665029;
  text-align: center;
  text-decoration: none;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

@media (max-width: 736px) {
  .button {
    max-width: none;
    height: 48px;
    line-height: 44px;
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.button:hover {
  background: #665029;
  color: #fff;
}

.button.is-white {
  border-color: #fff;
  color: #fff;
}

.button.is-white:hover {
  background: #fff;
  color: #665029;
}

.button.is-multi-col {
  margin-left: 0;
  margin-right: 0;
  max-width: 267px;
}

@media (max-width: 736px) {
  .button.is-multi-col {
    max-width: none;
  }
}

.l-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 120px;
  background: #fff;
}

@media (max-width: 980px) {
  .l-header {
    height: 96px;
  }
}

@media (max-width: 736px) {
  .l-header {
    height: 64px;
  }
}

.l-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

@media (max-width: 1280px) {
  .l-header__inner {
    padding: 0 20px;
  }
}

@media (max-width: 980px) {
  .l-header__inner {
    padding: 0 12px;
  }
}

.header-menu {
  width: 100%;
  height: 100%;
}

@media (max-width: 736px) {
  .header-menu {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100vw;
    height: auto;
    transition: all .2s;
  }
}

.header-menu.is-open {
  display: block;
}

@media (max-width: 736px) {
  .header-menu.is-open {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@media (max-width: 736px) {
  .header-menu__item {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    text-align: center;
    background: #fff;
  }
}

.header-menu__item:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 736px) {
  .header-menu__item:not(:first-child) {
    margin-left: 0;
  }
}

.header-logo__link {
  display: block;
}

.header-logo__link img {
  display: block;
}

@media (max-width: 980px) {
  .header-logo__link img {
    width: 160px;
  }
}

@media (max-width: 736px) {
  .header-logo__link img {
    width: 115px;
  }
}

.toggle-menu {
  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-right: -12px;
  width: 64px;
  height: 64px;
}

.toggle-menu__btn {
  position: relative;
  display: block;
  margin: 7px 0;
  width: 20px;
  height: 2px;
  background: #665029;
}

.toggle-menu__btn:before, .toggle-menu__btn:after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 20px;
  height: 2px;
  background: #665029;
}

.toggle-menu__btn:before {
  top: -7px;
}

.toggle-menu__btn:after {
  bottom: -7px;
}

.toggle-menu__text {
  display: block;
  margin-top: 4px;
  font-size: 11px;
  letter-spacing: .24em;
  color: #665029;
}

@media (max-width: 736px) {
  .toggle-menu {
    display: -ms-flexbox;
    display: flex;
  }
}

.g-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 736px) {
  .g-nav {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

.g-nav__item {
  display: block;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: .24em;
  color: #665029;
  transition: all 0.2s ease;
}

.g-nav__item:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

@media (max-width: 736px) {
  .g-nav__item {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #fff;
  }
}

.g-nav__item:not(:first-child) {
  margin-left: 48px;
}

@media (max-width: 980px) {
  .g-nav__item:not(:first-child) {
    margin-left: 20px;
  }
}

@media (max-width: 736px) {
  .g-nav__item:not(:first-child) {
    margin-left: 0;
  }
}

.sub-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 24px;
}

@media (max-width: 736px) {
  .sub-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-top: 0;
  }
}

.sub-nav__item {
  display: block;
  padding-right: 2em;
  background: url(/images/icon_link_s.png) right center no-repeat;
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: .12em;
  color: #665029;
  transition: all 0.2s ease;
}

.sub-nav__item:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

@media (max-width: 736px) {
  .sub-nav__item {
    padding-right: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #fff;
  }
}

.sub-nav__item:not(:first-child) {
  margin-left: 30px;
}

@media (max-width: 736px) {
  .sub-nav__item:not(:first-child) {
    margin-left: 0;
  }
}

.sub-nav__item.is-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-right: 0;
  background-image: none;
}

@media (max-width: 736px) {
  .sub-nav__item.is-icon {
    width: 50%;
  }
}

.sub-nav__item.is-icon + .is-icon {
  margin-left: 18px;
}

@media (max-width: 736px) {
  .sub-nav__item.is-icon + .is-icon {
    margin-left: 0;
  }
}

@media (max-width: 736px) {
  .sub-nav__item.is-icon.is-twitter img {
    width: 18px;
  }
}

@media (max-width: 736px) {
  .sub-nav__item.is-icon.is-facebook img {
    width: 17px;
  }
}

.footer-contact {
  padding: 90px 0 95px;
  background: url(/images/bg_contact.jpg) 0 0 repeat;
}

@media (max-width: 736px) {
  .footer-contact {
    padding: 30px 20px 32px;
  }
}

.footer-contact__title {
  text-align: center;
  line-height: 0;
}

@media (max-width: 736px) {
  .footer-contact__title img {
    width: 289px;
  }
}

.footer-contact__desc {
  margin-top: 60px;
  line-height: 2;
  text-align: center;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .24em;
}

@media (max-width: 736px) {
  .footer-contact__desc {
    margin-top: 30px;
    padding: 0 20px;
    text-align: left;
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.footer-contact__more {
  margin-top: 80px;
}

@media (max-width: 736px) {
  .footer-contact__more {
    margin-top: 30px;
  }
}

.l-footer {
  width: 100%;
  padding: 60px 0;
  background: #a38f72;
}

@media (max-width: 736px) {
  .l-footer {
    padding: 30px 0;
  }
}

.l-footer__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

@media (max-width: 736px) {
  .l-footer__inner {
    padding: 0 40px;
  }
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  color: #fff;
}

@media (max-width: 736px) {
  .footer {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: stretch;
        align-items: stretch;
  }
}

.footer__col {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer-profile__title {
  font-size: 20px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .4em;
}

@media (max-width: 736px) {
  .footer-profile__title {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.footer-profile__address {
  margin-top: 8px;
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .4em;
}

@media (max-width: 736px) {
  .footer-profile__address {
    font-size: 11px;
    font-size: 1.1rem;
  }
}

.footer-social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 38px;
}

@media (max-width: 736px) {
  .footer-social {
    margin-top: 18px;
  }
}

.footer-social__item {
  display: block;
}

.footer-social__item:not(:first-child) {
  margin-left: 15px;
}

@media (max-width: 736px) {
  .footer-social__item.is-twitter img {
    width: 18px;
  }
}

@media (max-width: 736px) {
  .footer-social__item.is-facebook img {
    width: 17px;
  }
}

.footer-copyright {
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .4em;
}

@media (max-width: 736px) {
  .footer-copyright {
    text-align: right;
    font-size: 11px;
    font-size: 1.1rem;
  }
}

.l-main {
  padding-top: 120px;
}

@media (max-width: 980px) {
  .l-main {
    padding-top: 96px;
  }
}

@media (max-width: 736px) {
  .l-main {
    padding-top: 64px;
  }
}

.headline {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -.05em;
}

.l-section__inner {
  margin: 0 auto;
  max-width: 1140px;
}

.kv img {
  display: block;
  width: 100%;
}

.top-news__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}

@media (max-width: 980px) {
  .top-news__inner {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.top-news__main {
  width: 100%;
  max-width: 752px;
}

.top-news__aside {
  margin-left: 24px;
  width: 364px;
}

@media (max-width: 980px) {
  .top-news__aside {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
  }
}

.top-news__more {
  margin-top: 30px;
}

.news-list {
  padding: 30px 24px;
  border: solid 20px #fff;
  background-image: url(/images/bg_illustration_coffee_01.png), url(/images/bg_article.jpg);
  background-position: right bottom, 0 0;
  background-repeat: no-repeat, repeat;
}

@media (max-width: 736px) {
  .news-list {
    padding: 10px;
    border-width: 10px;
    background: url(/images/bg_article.jpg) 0 0 repeat;
  }
}

.news-list__pager {
  margin-top: 30px;
}

@media (max-width: 736px) {
  .news-list__pager {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

.category-filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
  padding: 18px 28px;
  background: #fff;
}

@media (max-width: 736px) {
  .category-filter {
    position: relative;
    display: block;
    padding: 0;
  }
}

.category-filter__title {
  padding-left: 2.25em;
  background: url(/images/icon_glass.png) left center no-repeat;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .24em;
}

@media (max-width: 736px) {
  .category-filter__title {
    position: relative;
    padding: 16px 20px;
    background: none;
  }
}

@media (max-width: 736px) {
  .category-filter__title:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    margin-top: -4px;
    width: 13px;
    height: 8px;
    background: url(/images/icon_dropdown_sp.png) 0 0 no-repeat;
    background-size: 100% auto;
    transition: all .2s;
  }
}

@media (max-width: 736px) {
  .category-filter__title.is-open:before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.category-filter__list {
  margin-left: 40px;
}

@media (max-width: 736px) {
  .category-filter__list {
    position: absolute;
    top: 100%;
    margin: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 736px) {
  .category-list {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: all .2s;
  }
}

@media (max-width: 736px) {
  .category-list.is-open {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

.category-list__item {
  line-height: 1.15;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #786442;
  letter-spacing: .24em;
  transition: all 0.2s ease;
}

.category-list__item:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

@media (max-width: 736px) {
  .category-list__item {
    display: block;
    padding: 16px 20px;
    width: 100%;
    border-top: solid 1px #a38f72;
  }
}

.category-list__item:not(:first-child) {
  margin-left: 1.46em;
  padding-left: 1.7em;
  border-left: solid 1px #a38f72;
}

@media (max-width: 736px) {
  .category-list__item:not(:first-child) {
    margin: 0;
    padding: 16px 20px;
    border-left: none;
  }
}

.category-list__item.is-current {
  color: #665029;
  pointer-events: none;
}

.article-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -24px;
}

@media (max-width: 736px) {
  .article-list {
    margin-top: 0;
  }
}

.article-list__item {
  margin-top: 24px;
  width: 364px;
  width: calc(33.3% - 16px);
  background: #fff;
}

.top-news .article-list__item {
  width: calc(50% - 12px);
}

@media (max-width: 980px) {
  .top-news .article-list__item {
    width: 364px;
    width: calc(50% - 12px);
  }
}

@media (max-width: 736px) {
  .top-news .article-list__item {
    margin-top: 0;
    width: 100%;
  }
}

@media (max-width: 980px) {
  .article-list__item {
    width: 364px;
    width: calc(50% - 12px);
  }
}

@media (max-width: 736px) {
  .article-list__item {
    margin-top: 0;
    width: 100%;
  }
}

@media (max-width: 736px) {
  .article-list__item:not(:first-child) {
    margin-top: 20px;
  }
}

.article-list-item {
  display: block;
}

.article-list-item img {
  transition: all 0.2s ease;
}

.article-list-item:hover img {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

.article-list-item__image {
  display: block;
}

.article-list-item__image img {
  display: block;
  width: 100%;
}

.article-list-item__text {
  display: block;
  padding: 15px 20px;
}

.article-list-item__text .info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  letter-spacing: .24em;
}

.article-list-item__text .info .date {
  display: inline-block;
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
}

.article-list-item__text .info .tag {
  display: inline-block;
  margin-left: 15px;
  font-size: 11px;
  font-size: 11px;
  font-size: 1.1rem;
  color: #786442;
}

.article-list-item__text .title {
  display: block;
  margin-top: .25em;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .12em;
}

.article-list-item__text .body {
  display: block;
  margin-top: .375em;
  line-height: 1.75;
  font-size: 12px;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: .16em;
}

.banner-area {
  padding: 20px;
  background: url(/images/bg_sidebar.jpg) 0 0 repeat;
}

@media (max-width: 736px) {
  .banner-area {
    padding: 10px;
  }
}

.banner-area__item {
  display: block;
  background: #fff;
}

.banner-area__item img {
  transition: all 0.2s ease;
}

.banner-area__item:hover img {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-decoration: none;
}

.banner-area__item:not(:first-child) {
  margin-top: 20px;
}

.banner-area__item img {
  display: block;
  width: 100%;
}

.top-services {
  padding: 38px 0 60px;
  background: url(/images/bg_services.jpg) 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 736px) {
  .top-services {
    padding: 30px 0;
  }
}

.top-services__inner {
  padding: 0 20px;
}

.top-services__title {
  text-align: center;
}

@media (max-width: 736px) {
  .top-services__title img {
    width: 296px;
  }
}

.top-services__more {
  margin-top: 50px;
}

@media (max-width: 736px) {
  .top-services__more {
    margin-top: 40px;
  }
}

.service-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -13px;
  padding: 0 10px;
}

@media (max-width: 980px) {
  .service-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 736px) {
  .service-list {
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-top: -5px;
    padding: 0;
  }
}

.service-list__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 28px;
  width: 240px;
  height: 240px;
  background: url(/images/bg_service-list.png) center center no-repeat;
  background-size: 100% auto;
}

@media (max-width: 736px) {
  .service-list__item {
    margin-top: 10px;
    width: 48%;
    height: 44vw;
  }
}

@media (max-width: 736px) {
  .service-list__item .icon {
    max-width: 35px;
  }
}

.service-list__item .name {
  text-align: center;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .12em;
  color: #fff;
}

@media (max-width: 736px) {
  .service-list__item .name {
    margin-top: .5em;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.page-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 300px;
  background: #917f64 url(/images/bg_page-title.png) repeat-x;
}

@media (max-width: 736px) {
  .page-title {
    height: 160px;
  }
}

.page-title .en {
  max-width: 100%;
}

.page-title.is-news {
  background-color: #668d97;
}

@media (max-width: 736px) {
  .page-title.is-news .en {
    width: 151px;
  }
}

.page-title.is-event {
  background-color: #787996;
}

@media (max-width: 736px) {
  .page-title.is-works .en {
    width: 195px;
  }
}

@media (max-width: 736px) {
  .page-title.is-services .en {
    width: 288px;
  }
}

@media (max-width: 736px) {
  .page-title.is-company .en {
    width: 282px;
  }
}

@media (max-width: 736px) {
  .page-title.is-contact .en {
    width: 267px;
  }
}

.page-title .en {
  margin-top: 10px;
}

@media (max-width: 736px) {
  .page-title .en {
    margin-top: 8px;
  }
}

.page-title .ja {
  margin-top: .75em;
  font-size: 18px;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: .24em;
  color: #fff;
}

@media (max-width: 736px) {
  .page-title .ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.page-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.page-nav__item {
  position: relative;
  margin: 0;
}

.page-nav__item:not(:first-child) {
  margin-left: 24px;
}

.page-nav__item.is-prev:before, .page-nav__item.is-next:before {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -2px;
  font-weight: 400;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-nav__item.is-prev {
  padding-left: .5em;
}

.page-nav__item.is-prev:before {
  content: '\226a';
  left: 1em;
}

@media (max-width: 736px) {
  .page-nav__item.is-prev:before {
    left: .5em;
  }
}

.page-nav__item.is-next {
  padding-right: .5em;
}

.page-nav__item.is-next:before {
  content: '\226b';
  right: 1em;
}

@media (max-width: 736px) {
  .page-nav__item.is-next:before {
    right: .5em;
  }
}

.article-detail {
  padding: 30px 24px;
  background-image: url(/images/bg_article.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

@media (max-width: 736px) {
  .article-detail {
    padding: 20px;
    background: url(/images/bg_article.jpg) 0 0 repeat;
  }
}

.article-main {
  margin: 30px auto;
  padding: 60px 90px;
  max-width: 1140px;
  background: #fff;
}

@media (max-width: 736px) {
  .article-main {
    margin: 0;
    padding: 20px;
  }
}

.article-main__head .article-info {
  letter-spacing: .24em;
}

.article-main__head .article-info .date {
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
}

@media (max-width: 736px) {
  .article-main__head .article-info .date {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.article-main__head .article-info .tag {
  margin-left: 1em;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #665029;
}

@media (max-width: 736px) {
  .article-main__head .article-info .tag {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.article-main__head .article-title {
  margin-top: .5em;
  font-size: 24px;
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: .12em;
}

@media (max-width: 736px) {
  .article-main__head .article-title {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.article-main__body {
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: .16em;
}

.article-main__body .article-video {
  margin: 40px auto;
  max-width: 558px;
  text-align: center;
}

@media (max-width: 736px) {
  .article-main__body .article-video {
    margin: 20px auto;
  }
}

.article-main__body .article-video__inner {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.article-main__body .article-video__inner iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.article-main__body p {
  line-height: 2;
}

.article-main__body p a {
  color: #665029;
  text-decoration: underline;
}

.article-main__back {
  margin-top: 60px;
}

@media (max-width: 736px) {
  .article-main__back {
    margin-top: 20px;
  }
}

.services {
  padding: 38px 0 60px;
  background: url(/images/bg_services.jpg) 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 736px) {
  .services {
    padding: 30px 0;
  }
}

.services__inner {
  padding: 0 20px;
}

.services__title {
  text-align: center;
}

@media (max-width: 736px) {
  .services__title img {
    display: block;
    width: 100%;
  }
}

.service-flow {
  padding: 60px 0;
  background: url(/images/bg_article.jpg) 0 0 repeat;
}

@media (max-width: 736px) {
  .service-flow {
    padding: 40px 0;
  }
}

.service-flow__title {
  text-align: center;
  line-height: 0;
}

@media (max-width: 736px) {
  .service-flow__title img {
    width: 130px;
  }
}

.service-flow__list {
  margin: 60px auto 0;
  max-width: 1140px;
}

@media (max-width: 736px) {
  .service-flow__list {
    margin-top: 30px;
    padding: 0 20px;
  }
}

.flow-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 736px) {
  .flow-list {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.flow-list__item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: calc(25% - 18px);
}

@media (max-width: 736px) {
  .flow-list__item {
    width: 100%;
  }
}

@media (max-width: 736px) {
  .flow-list__item:not(:first-child) {
    margin-top: 25px;
    padding-top: 45px;
  }
}

.flow-list__item:not(:first-child):before {
  content: '';
  position: absolute;
  top: 72px;
  left: -21px;
  display: block;
  width: 0;
  height: 0;
  border: solid 16px transparent;
  border-left-color: #e9472d;
  border-right-width: 0;
}

@media (max-width: 736px) {
  .flow-list__item:not(:first-child):before {
    top: 0;
    left: 50%;
    margin-left: -16px;
    border-top-color: #e9472d;
    border-left-color: transparent;
    border-width: 16px;
  }
}

.flow-list__item .flow-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  min-height: 142px;
}

@media (max-width: 736px) {
  .flow-list__item .flow-image {
    min-height: 0;
  }
}

.flow-list__item .flow-image.is-01 img {
  width: 163px;
}

.flow-list__item .flow-image.is-02 img {
  width: 134px;
}

.flow-list__item .flow-image.is-03 img {
  width: 118px;
}

.flow-list__item .flow-image.is-04 img {
  width: 133px;
}

.flow-list__item .flow-image img {
  display: block;
}

.flow-list__item .flow-title {
  display: inline-block;
  margin-top: 20px;
  padding: .0625em 1.2em;
  text-align: center;
  border-radius: 13px;
  background: #492f01;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  text-indent: .3em;
  letter-spacing: .3em;
}

.flow-list__item .flow-desc {
  margin-top: 45px;
  font-size: 14px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #492f01;
  letter-spacing: .06em;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 736px) {
  .flow-list__item .flow-desc {
    margin-top: 20px;
  }
}

.company {
  padding: 60px 0;
  background: url(/images/bg_contact.jpg) 0 0 repeat;
}

@media (max-width: 736px) {
  .company {
    padding: 30px 20px;
  }
}

.company__title {
  text-align: center;
  font-size: 24px;
  font-size: 24px;
  font-size: 2.4rem;
  color: #492f01;
  letter-spacing: .16em;
}

.company__contents {
  margin-top: 30px;
}

@media (max-width: 736px) {
  .company__contents {
    margin-top: 20px;
  }
}

.company__contact {
  margin-top: 50px;
}

@media (max-width: 736px) {
  .company__contact {
    margin-top: 30px;
  }
}

.company-profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (max-width: 736px) {
  .company-profile {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.company-profile__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: 1em;
  padding-right: 1.5em;
  width: 50%;
}

@media (max-width: 736px) {
  .company-profile__title {
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100%;
  }
}

.company-profile__title > span {
  display: inline-block;
  padding: .0625em 1.2em;
  text-align: center;
  border-radius: 13px;
  background: #492f01;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  text-indent: .3em;
  letter-spacing: .3em;
}

.company-profile__data {
  margin-top: 1em;
  width: 50%;
}

@media (max-width: 736px) {
  .company-profile__data {
    margin-top: .5em;
    width: 100%;
  }
}

.contact {
  padding: 60px 0;
  background: url(/images/bg_contact.jpg) 0 0 repeat;
}

@media (max-width: 736px) {
  .contact {
    padding: 30px 20px;
  }
}

.contact__inner {
  max-width: 752px;
}

.contact__submit {
  margin-top: 30px;
}

.contact-form__item:not(:first-child) {
  margin-top: 30px;
}

.form-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

@media (max-width: 736px) {
  .form-item {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.form-item__title {
  width: 30%;
  font-weight: bold;
  color: #665029;
  letter-spacing: .06em;
}

@media (max-width: 736px) {
  .form-item__title {
    width: 100%;
  }
}

.form-item__title label[for] {
  cursor: pointer;
}

.form-item__title label[data-tag]:after {
  content: attr(data-tag);
  position: relative;
  top: -.1em;
  margin-left: .5em;
  padding: .25em .5em;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  background: #e52d27;
}

.form-item__input {
  margin-left: 40px;
  width: 70%;
}

@media (max-width: 736px) {
  .form-item__input {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}

.form-item__input input[type="text"] {
  position: relative;
  top: -.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: .5em .75em;
  min-width: 50%;
  border: solid 1px #665029;
  border-radius: 4px;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
}

@media (max-width: 736px) {
  .form-item__input input[type="text"] {
    top: 0;
    width: 100%;
  }
}

.form-item__input input[type="text"].is-l {
  min-width: 70%;
}

.form-item__input textarea {
  position: relative;
  top: -.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: .5em .75em;
  width: 100%;
  min-height: 8em;
  border: solid 1px #665029;
  border-radius: 4px;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
}

@media (max-width: 736px) {
  .form-item__input textarea {
    top: 0;
  }
}

.select-contact-type {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 40px;
  width: 100%;
  border: solid 1px #665029;
  border-radius: 4px;
}

@media (max-width: 736px) {
  .select-contact-type {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.select-contact-type .input {
  display: none;
}

.select-contact-type .input + label {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: .25em 1em;
  width: 50%;
  background: #fff;
  color: #665029;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2;
  letter-spacing: 0.12em;
  transition: all .2s;
}

@media (max-width: 736px) {
  .select-contact-type .input + label {
    width: 100%;
  }
}

.select-contact-type .input + label:hover {
  background-color: #665029;
  color: #fff;
}

.select-contact-type .input:checked + label {
  background-color: #665029;
  color: #fff;
}
